*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

a{
    color: black;
    text-decoration: none;
}

ul li{
    list-style: none;
}
.nav-link, .login,.bi-box-arrow-in-right{
    font-size: 1.4rem;
    padding: 5px;
    color: white;
}
/* fin de normalizacion s */
/* Nav bar */

.navbar-toggler-icon{
    font-size:1.4rem;
}
.jumbotron{
    background-image: url(https://media.istockphoto.com/id/1292038829/es/foto/ordenador-port%C3%A1til-con-iluminaci%C3%B3n-rosa-azul-y-lugar-de-pantalla-en-blanco-sobre-fondo-oscuro.jpg?b=1&s=612x612&w=0&k=20&c=dnxSMHaF68TdbJ9GsQ5td1N86v1SnDdFgk6VKcK-U1w=);
    background-position: center;
    padding: 20px;
    
}
.cont-inicial{
    background-color: rgba(29, 27, 29, 0.432);
    color: white;
    border-radius: 15px;
    padding: 12px;
}
.tituloprod{
    font-size:2.4rem;
}
.img-prod{
    width: 150px;

}

.card-producto{
    padding: 12px;
    margin:15px;
    border:0.5px solid rgba(201, 183, 201, 0.027);
   
}
.card-producto-descrip{
    font-size: 1.4rem;
    padding:6px;
    text-align: justify;
}
.bts{
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;;

}
/* Comienzo footer */

/* Pagina producto unica*/

.side-izq{
    font-size:2.8rem;
}
.text-descript-centro{
    font-size: 2.0rem;
    text-align: left;
}
.main-producto{
    min-height: 100vh;
    padding: 80px 5px 10px;
}

.cont-img-side-izq{
    border-right: 0.5px solid rgb(86, 1, 88);
    padding: 30px;
    min-height: 60vh;
}
.img-prod-relacionados{
    font-size: 1.9rem;
}
.img-prod-relacionados img{
    width: 140px;
}
.descrip-producto{
    font-size: 1.9rem;
}
.cont-button-side-izq{
    font-size: 1.3rem;
    padding: 4px;
}
.cont-button-side-izq button{
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight:500;
}
.btn-carrito{
    border:1px solid rgb(69, 61, 180);
    background-color: rgb(104, 146, 185);
}
.btn-regresar{
    background-color: rgb(136, 12, 12);
    border:1px solid rgb(107, 77, 134);
}
/* Comienza footer */
footer{
    background-color: rgba(107, 0, 194, 0.192);
    color: white;
    padding: 15px;
    font-size:2rem;
}
.input-search{
    width: 40%;
}
.label-buscar{
    font-size: 1.4rem;
    padding: 9px;
}
.btn-ir{
    margin: 0px 5px;
}
/* FIn de footer */