*{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

a{
    color: black;
    text-decoration: none;
}

ul li{
    list-style: none;
}
.nav-link, .login,.bi-box-arrow-in-right{
    font-size: 1.4rem;
    padding: 5px;
}
/* fin de normalizacion s */

.jumbotron{
    background-image: url(https://img.freepik.com/vector-gratis/composicion-realista-electrodomesticos_1284-65307.jpg?size=626&ext=jpg&ga=GA1.1.1319243779.1710288000&semt=ais);
    background-position: center;
    padding: 20px;
    
}
.tituloprod{
    font-size:2.4rem;
}
.img-prod{
    width: 150px;

}

.card-producto{
    padding: 12px;
    margin:15px;
    border:0.5px solid rgb(201, 183, 201);
   
}
.card-producto-descrip{
    font-size: 1.4rem;
    padding:6px;
    text-align: justify;
}
.bts{
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 6px;
    padding: 10px;
    margin: 5px;;

}
/* Comienzo footer */

footer{
    background-color: rgb(58, 4, 33);
    color: white;
    padding: 15px;
    font-size:2rem;
}
.input-search{
    width: 40%;
}
.label-buscar{
    font-size: 1.4rem;
    padding: 9px;
}
.btn-ir{
    margin: 0px 5px;
}
/* FIn de footer */